.dashboard-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
}

.dashboard-title {
    text-align: center;
    color: #fff;
    margin-bottom: 1.5rem;
}

.logout-btn {
    margin-left: auto;
    background: #ef4444;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}

.adminDashboard-container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 1rem;
    color: #fff;
}

.adminDashboard-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.adminDashboard-tabs {
    display: flex;
    justify-content: flex-end;
    gap: 0.4rem;
    flex-wrap: wrap;
}

.tab-btn {
    background: #2b2b2b;
    padding: 0.5rem 0.5rem;
    border-radius: 8px;
    border: 1px solid #3a3a3a;
    cursor: pointer;
    color: #fff;
    font-size: 0.8rem;
    transition: 0.3s ease;
}

.tab-btn:hover {
    background: #3a3a3a;
}

.tab-btn.active {
    background: #5d5dff;
    border-color: #7474ff;
}

.adminDashboard-content {
    margin-top: 2rem;
}

@media (max-width: 600px) {

    .adminDashboard-tabs {
        justify-content: center;
    }
}