.homeVideoContainer {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: transparent;
  background-color: #0a0a0a;

}

.homeVideoContainer video {
  width: 100%;
  background-color: #0a0a0a;
}

@media screen and (max-width: 700px) {

  .homeVideoContainer video {
    margin-bottom: -50%;
  }
}