.item {
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  color: #f1f2f6;
}

.itemImgContainer {
  width: 260px;
  height: 300px;
  position: relative;
  transition: 0.3s ease;
  transform: scale(1);
}

/*Hover*/
.itemImgContainer:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
}

.itemImg {
  width: 100%;
  height: 100%;
}

.itemTitle {
  font-size: 1rem;
  margin: 1rem 0 0;
  margin-top: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.itemPrice {
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 3px;
}

.itemButton {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.itemPriceContainer {
  display: flex;
  gap: 8px;
  align-items: center;
}

.itemPriceOld {
  text-decoration: line-through;
  opacity: 0.6;
}

.itemPriceSale {
  font-weight: 700;
}

@media screen and (max-width: 700px) {
  .itemImgContainer {
    width: 150px;
    height: 100%;
  }
}

@media (min-width: 701px) and (max-width: 1300px) {
  .itemImgContainer {
    width: 350px;
    height: 100%;
  }

}