.clipLoaderContianerDestacados{
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 10% 0;
    align-items: center;
    justify-content: center;
}

.clipLoaderContianerDestacados span{
    margin: 1rem 0;
    color: #fff;
    
}


@media screen and (max-width: 700px) {
    .clipLoaderContianerDestacados{
        margin: 50% 0;
    }
}