.clipLoaderContianer{
    display: flex;
    flex-flow: column;
    width: 100%;
    margin: 10% 0;
    align-items: center;
    justify-content: center;
}

.clipLoaderContianer span{
    margin: 1rem 0;
}

@media screen and (max-width: 700px) {
    .clipLoaderContianer{
        margin: 40% 0;
    }
}