.pendingContainer{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    color: #f4f4f4;
}

.pendingContainer Link{
    text-decoration: none;
    color: #f4f4f4;
    font-weight: 400;
    letter-spacing: 2px;
}